<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
     <script src="../vue2.js"></script>
</head>
<body>
    <!-- v-if v-show都可以控制元素的显示与隐藏
    v-if是通过操作dom来控制元素的显示与隐藏，页面中涉及到异步数据渲染就用v-if
    v-show是通过控制样式display:none;性能更高，适合频繁的显示隐藏的场景 -->
     <div id="app">
         <h1>v-if</h1>    
         <p v-if="age>=18">已成年</p>    
         <p v-else>未成年</p>

<h1>多条件判断 v-else-if</h1>
<p v-if="age<18">青少年</p>
<p v-else-if="age>=18 && age<30">成年</p>
<p v-else-if="age>=30 && age<50">中年</p>
<p v-else>老年</p>

         <h1>v-show</h1>
         <p v-show="age>=18">已成年</p>
         <p v-show="age<18">未成年</p>
        
         <h1>异步数据</h1>
         <!-- v-if是通过操作dom来控制元素的显示与隐藏，页面中涉及到异步数据渲染就用v-if -->
         <p v-if="isVisible">异步数据回来了，我就显示</p>
         <p v-else>数据还没有回来</p>
         <button @click="getData">点击显示</button>
     </div>
    <script>
     var vm = new Vue({
        el: '#app',
        data: {
           age:18,
           isVisible:false
        },
        methods: {
            getData(){
                setTimeout(()=>{
                    this.isVisible=true;
                },1000);
            }
        }
    })
</script>
</body>
</html>